Source: malatesta
Maintainer: naazgull <n@zgul.me>
Section: Development
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9)

Package: malatesta
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: malatesta
 Provides malatesta
